body {
	background-color: gray;
	font-family: Arial, sans-serif;
}

p {
	color: black;
	font-family: Courier, sans-serif;
}

#x {
	text-align: center;
	color: white;
	font-family: Garamond, sans-serif;
}